<script src="https://kit.fontawesome.com/d4bd3dfc55.js" crossorigin="anonymous"></script>
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="navbar">
  <div class="container-fluid">
    <a class="navbar-brand text-light" href="#"><img src="./.././../../src/Capture-removebg-preview.jpg" alt=""><i
        class="fa fa-h-square ml-3 mx-1" aria-hidden="true"></i>HotelFinder</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-light" ria-current="page" routerLink="/actingHome">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/hotels">Hotels </a>
        </li>
        <li class=" nav-item">
          <a class="nav-link text-light" routerLink="/apartment">Apartment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/aparthotel">Aparthotel</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/guest">Guest House</a>
        </li>
      </ul>

      <form class="d-flex mx-3 col-lg-5">
        
      </form>

    </div>
  </div>
</nav>

<router-outlet></router-outlet>